footer {
    flex-grow: 1;
    background-color: rgb(133, 120, 133);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

footer p {
    font-size: 3.5vw;
    margin-top: 0;
    margin-bottom: 0.5vh;
    color: rgb(255, 255, 255);
}

footer a {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 35%;
    transition: 0.35s
}

footer a:hover {
    z-index: 2;
    scale: 1.2;
    background-color: black;
    box-shadow: 0 0 0.6vw 1vw black;
}

footer a p {
    margin-bottom: 0;
    font-size: 2.5vw;
    color: rgb(255, 255, 255);
}

footer img {
    margin-left: 0.6vw;
    width: 1.5vw;
    height: auto;
}

@media only screen and (min-width: 768px) {
    footer p {font-size: 2vw;}
    footer a p {font-size: 1.2vw;}
}