html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    height: 100vh;
}

h1 {
    font-size: 7vw;
    text-align: center;
}

#score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-container > * {
    margin: 0.5vw;
    font-size: 4vw;
}

#board {
    max-width: 90%;
    max-height: 90vh;
    width: auto;
    height: auto;
    margin: auto;
    aspect-ratio: 1;
}

#board .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16.66%;
    margin-top: 3vh;
}

#board .tile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.66%;
    height: auto;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    aspect-ratio: 1;
}

#board .tile {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1vw solid black;
    border-radius: 25%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

#board .tile-transform {
    transform: rotateY(180deg);
}

.tile .tile-front, .tile .tile-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tile .tile-back {
    transform: rotateY(180deg);
}

.tile img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.not-clickable {
    pointer-events: none;
}

@media only screen and (min-width: 768px) {
    h1 {font-size: 5vw;}
    #score-container > * {font-size: 2vw;}
    #board {max-width: 45%;}
    #board .row {margin-top: 1.1vh;}
    #board .tile {border: 0.4vw solid black;}
}

@media only screen and (min-width: 2560px) {
    #board {max-width: 35%;}
    #board .row {margin-top: 0.5vh;}
    #board .tile {border: 0.3vw solid black;}
}